<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Reminders</h1>
            <h2>Tasks</h2>
              <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                    </tr>
                    <tbody>
                        {% for item in todolist.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
              </table>
        </div>
    </main>
    
</body>
</html>