<!DOCTYPE html>

<html lang="en">
<head>
    <title>Todo Lists</title>
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
                <tbody>
                    {% for todo in todolist_list %}
                    <tr>
                        <a href="{% url "todo_list_detail"
                        item.pk %}">
                          <td>{{ todo.name }}</td>
                        </a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>

</body>
</html>